* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Goldman', cursive
  
}
html {
  font-size: 62.5%;
}
body {
  background-color: black;
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
.section-1{
  background: url(img/opp-2.jpg);
  height: 50vw;
  width: 100vw;
  background-position: center;
}
h1{
  font-style: italic;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  font: bold;
  }
  h2{
    color: white;
    font: bold;
  }
  p{
    color: white;
  }
  .footer-text{
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  footer{
    background: #00a8c7;
    height: 3vh;
  }
  